.subseries {
  display: none;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
.series {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(241, 237, 237, 0.788);
  overflow-x: hidden;
  padding-top: 20px;
  text-align: center;
  color: #818181;
}

.series a,
.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  text-align: center;
}

.subseries .img {
  width: 100%;
  border: 2px solid rgb(194, 192, 212);
}

.subseries .card p {
  padding: 20px 5px;
  max-width: 450px;
  background-color: #ffffff;
  margin: 10px auto;
  border-radius: 20px;
  border: 2px solid rgb(194, 192, 212);
}
.subseries .card p {
  text-align: center;
}

.subseries img:hover {
  border: 2px solid rgb(165, 162, 190);
  opacity: 0.3;
}
